@model PaginatedList<UserItem>

@{
	ViewData["Title"] = "Users";
}

<h1>Users</h1>

<div class="mt-2 mb-2">
	@Html.ActionLink("Create", "Create",
	new { }, new { @class = "btn btn-primary" })
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Items.First().UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Items.First().RoleNames)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@(item.RoleNames.Count > 0 ? string.Join(", ", item.RoleNames) : "No role")
				</td>
				<td>
					<form method="post" asp-action="ResetPassword" asp-route-id="@item.Id" class="d-inline-block">
						<input type="submit" class="btn btn-secondary" value="Reset Password" />
					</form>
					<form method="post" asp-action="Remove" asp-route-id="@item.Id" class="d-inline-block">
						<button type="button" class="btn btn-danger delete-button" data-name="@item.UserName">
							Remove
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

@await Html.PartialAsync("_Pagination", Model)
